.App {
  text-align: center;
}

body{
  background-color: antiquewhite;
}

button{
  margin: 2vw;
  background-color: steelblue;
  color: white;
  border: none;
  padding: 1vw;
  border-radius: 5px;
  cursor: pointer;
}
input{
  width : 5vw;
  margin: 2vw;
  padding: 1vw;
  border: none;
  outline: none;
  border-bottom: 2px solid;
  text-align: center;
}
